@use '../utils' as *;

.search {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background: map-get($gray, '100' );
  border: 2px solid map-get($gray, '900' );
  border-radius: 0.5rem;

  form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem 0;

    input {
      width: 30rem;
      height: 100%;
      padding: 0 2rem;
      border: none;
      background: map-get($gray, '100' );
      color: map-get($gray, '900' );
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }

    button {
      background: map-get($blue, '500' );
      border: none;
      width: 10rem;
      height: 3rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      border: 2px solid map-get($gray, '900' );
      transition: 0.5s ease-in;

      &:hover {
        background: map-get($blue, '300' );
      }
    }
  }
}