@use '../utils/' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: map-get($gray , '500')
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 , h6 {
  color: map-get($gray, '900');
}