$gray: (
  '100': #fbf8f2,
  '200': #fcfdfe,
  '300': #e9ebec,
  '400': #e3e4ea,
  '500': #5f5f5f,
  '900': #1d1d1d
);

$blue: (
  '300': #a8dee2,
  '500': #2ab3c0
);

$red-500: #ea605e;

$yellow: (
  '300': #f8e0b1,
  '500': #f9bc73,
);